.select2-results {
    display: flex;
    flex-wrap: wrap;
}

.select2-results__option {
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #5897fb !important;
    border-radius: 6px !important;
    color: #fff;
}

.select2-container--default .select2-results__option--selected {
    background-color: #2914e2 !important;
}

.select2-container--default .select2-results>.select2-results__options {
    margin-top: 10px !important;
}

.select2-results__options {
    margin-top: 10px !important;
}

.select2-results__option:hover {
    background-color: #2914e2 !important;
}

.select2-selection__choice {
    background-color: #0c08ee !important;
    color: #fff !important;
    margin-right: 5px !important;
    border: none !important;
    padding: 5px 20px !important;
    border-radius: 3px !important;
}

.select2-selection__choice__remove {
    color: #fff !important;
    background-color: #f00 !important;
    border: none !important;
    padding: 0 !important;
    height: 100% !important;
    margin-right: 5px !important;
    width: 10%;
}

.select2-selection__choice__remove span {
    font-size: 16px !important;
    vertical-align: middle !important;
}

